Instructions for this phase:

1. **Game Information**:
   - Phase: {{ meta.phase_name }} (Phase {{ meta.phase }})
   - Your Role: Speculator (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}

2. **Available Information**:
  2.1. **Declarations**:
    - Winning Condition: {{ public_information.winning_condition_description }} ({{ public_information.winning_condition }})
    {% set key = "projectA" if public_information.winning_condition == 1 else "noProject" %}
    {% for declaration in private_information.declarations %}
      {% set role_name = "Speculator" if declaration["role"] == 1 else "Developer" if declaration["role"] == 2 else "Owner" %}
      {% set declared_value = declaration["d"][public_information.winning_condition] %}
      {% if declaration["role"] == 2 %}
        {% set min_value = public_information.boundaries["developer"][key]["low"] %}
        {% set max_value = public_information.boundaries["developer"][key]["high"] %}
      {% else %}
        {% set min_value = public_information.boundaries["owner"][key]["low"] %}
        {% set max_value = public_information.boundaries["owner"][key]["high"] %}
      {% endif %}
      {% set percentile = ((declared_value - min_value) / (max_value - min_value) * 100) | round(2) %}
      - Player #{{ declaration["number"] }} ({{ role_name }}), declared value: {{ declared_value }}, percentile: {{ percentile }}%
    {% endfor %}

  2.2. **Real Value Boundaries**:
    {% for role, conditions in public_information.boundaries.items() %}
    - {{ role }}:
      {% for condition, bounds in conditions.items() %}
      - {{ condition }}: {{ bounds.low }} to {{ bounds.high }}
      {% endfor %}
    {% endfor %}

3. ** Speculation decision steps**

  3.1. **Gather the following data for each property** (Owner or Developer):
    - **Player ID**
    - **Declared Value for winning condition**
    - **Declared Value Percentile**
    - **Known Ranges** of possible true values for winning condition per owner and developer

  3.2. **Threshold-Based Buying Rule**:
    - If the declared value percentile is < 50% percentile than **buy** it.
    - If declared value percentile is >50% percentile than **do not buy**.

4. **Your Decision to Make**:
   - You can purchase the properties of multiple players, or choose not to buy a property.
   - You should make a list of the id of the players whose property you want to purchase under the winning condition  {{ public_information.winning_condition_description }}.
   - Provide the output as a JSON object:

    {% if public_information.winning_condition == 0 %}
    {
      "gameId": {{ meta.game_id }},
      "type": "done-speculating",
      "snipe":[ [<player_id>, <player_id>, <player_id>], []]
    }
      {% else %}

    {
      "gameId": {{ meta.game_id }},
      "type": "done-speculating",
      "snipe":[[], [<player_id>, <player_id>, <player_id>]]
    }
    {% endif %}
