This is your information about the state of the game and instructions for this phase:

1. **Game Information**:
   - Phase: Phase {{ meta.phase }}
   - Your Role: {{ meta.role }} (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}
   - Your Wallet:
     - Tax Shares: {{ private_information.wallet[public_information.winning_condition].shares }}
     - Balance: {{ private_information.wallet[public_information.winning_condition].balance }}

2. **Market Information**:
   - Received public value signal (of tax shares): {{ public_information.public_signal[public_information.winning_condition] }}
   - Received private value signal (of tax shares): {{ private_information.value_signals[public_information.winning_condition] }}
   - Orders:

{{ public_information.market_state.order_book }}

3.1 **Trading decisions when there are trades available in the winning market**

{% if not public_information.market_state.median_prices[0] and not public_information.market_state.median_prices[1] %}
- No trades have been made yet.
{% endif %}

- Post a bid that is equal to 95% of {{ private_information.value_signals[public_information.winning_condition] }}
- Post an ask that is equal to 105% of {{ private_information.value_signals[public_information.winning_condition] }}

3.2 **If no bids or asks outstanding in the winning market**

- Post a bid that is equal to 95% of {{ private_information.value_signals[public_information.winning_condition] }}
- Post an ask that is equal to 105% of {{ private_information.value_signals[public_information.winning_condition] }}


4. **Your Decision output**:
   Provide the output (one of these options) as a JSON object:
   A. Post a new order:
   {
       "gameId": {{ meta.game_id }},
       "type": "post-order",
       "order": {
           "price": <number>, # if now=true, put 0 (will be ignored)
           "quantity": 1,
           "type": <"ask" or "bid">,
           "now": <true or false>,
           "condition": {{ public_information.winning_condition }}
       },
   }

   B. Cancel an existing order:
   {
       "gameId": {{ meta.game_id }},
       "type": "cancel-order",
       "order": {
           "id": <order_id>,
           "condition": {{ public_information.winning_condition }}
       },
   }

   C. Do nothing:
   {}

Remember:
- You can only trade one share at a time
- You have limited time to trade
- Setting "now": true will execute at the best available price
- Orders can be canceled before they are fulfilled
- trade using the private signal in the winning market since the public signal is likely distorted
- you can never have more offers to sell shares (asks) than the number of tax shares in your wallet
- The sum of the prices of your offers to buy shares (bids) can never exceed the balance in your wallet
- If your outstanding asks or bids exceed the limits in your wallet, you should cancel the order that is furthest from the median price in the market
