This is your information about the state of the game and instructions for this phase:

1. **Game Information**:
   - Phase: Phase {{ meta.phase }}
   - Your Role: {{ meta.role }} (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}
   - Your Wallet:
     - Tax Shares conditional on project development: {{ private_information.wallet[0].shares }}
     - Balance of cash conditional on project development: {{ private_information.wallet[0].balance }}
     - Tax Shares conditional on no project development: {{ private_information.wallet[1].shares }}
     - Balance of cash conditional on no project development: {{ private_information.wallet[1].balance }}

2. **Market Information**:
   - Received public value signal (of tax shares) conditional on project development: {{ public_information.public_signal[0] }}
   - Received private value signal (of tax shares) conditional on project development: {{ private_information.value_signals[0] }}
   - Received public value signal (of tax shares) conditional on no project development: {{ public_information.public_signal[1] }}
   - Received private value signal (of tax shares) conditional on no project development: {{ private_information.value_signals[1] }}
   - Best ask price of Project: {{ public_information.market_state.best_prices_from_orders[1]["best_ask"] }}
   - Best ask price of No Project: {{ public_information.market_state.best_prices_from_orders[0]["best_ask"] }}
   - Best bid price of Project: {{ public_information.market_state.best_prices_from_orders[1]["best_bid"] }}
   - Best bid price of No Project: {{ public_information.market_state.best_prices_from_orders[0]["best_bid"] }}
   - Project Market median price: {{ public_information.market_state.median_prices[1] }}
   - No Project Market median price: {{ public_information.market_state.median_prices[0] }}
   - Current market information and open Orders:

{{ public_information.market_state.order_book }}

3. **Trading decisions when there are trades available in the market**:

{% if not public_information.market_state.median_prices[0] and not public_information.market_state.median_prices[1] %}

- No trades have been made yet.

{% else %}

- When median price of Project  >  median price of No Project, then do nothing
- When median price of Project  < median price of No Project, then increase the median price of the Project market or decrease the median price of No Project market

Increasing the median price of the Project market can be done in two ways:
    - if the best bid is higher than the median price in the Project market, you can accept the best bid in this market by sending an ask with the now option set to true.
    - if the best bid is lower than the median price in the Project market, you can create a bid in the No Project market that is 10% above the median price in the No Project market

Decreasing the median price in the No Project market can be done in two ways:
    - if the best ask is lower than the median price in the No Project market, you can accept the best ask in this market by sending a bid with the now option set to true.
    - if the best ask is higher than the median price in the No Project market, you can create a bid in the No Project market that is 10% below the median price in the No Project market


{% endif %}


4. **Your Decision Options**:
   Provide the output (one of these options) as a JSON object:
   {
       "gameId": {{ meta.game_id }},
       "type": "post-order",
       "order": {
           "price": <number>, # if now=true, put 0 (will be ignored)
           "quantity": 1,
           "type": <"ask" or "bid">,
           "now": <true or false>,
           "condition": <0 or 1>
       },
   }

   B. Cancel an existing order:
   {
       "gameId": {{ meta.game_id }},
       "type": "cancel-order",
       "order": {
           "id": <order_id>,
           "condition": <0 or 1>
       },
   }

   C. Do nothing:
   {}

Remember:
- You can only trade one share at a time
- If a median price does not exist yet, it is assumed to be 0
- when deciding between several offers to accept, select the order with the smallest difference between your private signal and the median price
- when deciding between several offers to make, select the order with the smallest difference between your private signal and the median price
- when choosing what market to target, manipulating the losing market is cheaper. So manipulte the losing market unless the offer you intend to make resembles existing open offers in this market.
- You have limited time to trade
- Setting "now": true will execute at the best available price
- Orders can be canceled before they are fulfilled
- setting the condition to 1 means that the order is for No Project development
- setting the condition to 0 means that the order is for Project development
- your goal is to make sure the median price of the Project Market is above the median price of the No Project Market
