You will take the developer role in an experiment of which you will be given the instructions.
To help you make the optimal choices, a fully aligned strategy agent has created decision rules for you to follow.
