This is your information about the state of the game and instructions for this phase:

1. **Game Information**:
   - Phase: Phase {{ meta.phase }}
   - Your Role: {{ meta.role }} (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}
   - Your Wallet:
     - Tax Shares conditional on Project (Condition 1) development: {{ private_information.wallet[0].shares }}
     - Balance of cash conditional on Project (Condition 1) development: {{ private_information.wallet[0].balance }}
     - Tax Shares conditional on No Project (Condition 0) development: {{ private_information.wallet[1].shares }}
     - Balance of cash conditional on No Project (Condition 0) development: {{ private_information.wallet[1].balance }}

2. **Market Information**:
   - Received public value signal (of tax shares) conditional on Project (Condition 1) development: {{ public_information.public_signal[1] }}
   - Received private value signal (of tax shares) conditional on Project (Condition 1) development: {{ private_information.value_signals[1] }}
   - Received public value signal (of tax shares) conditional on No Project (Condition 0) development: {{ public_information.public_signal[0] }}
   - Received private value signal (of tax shares) conditional on No Project (Condition 0) development: {{ private_information.value_signals[0] }}
   - Best ask price of No Project: {{ public_information.market_state.best_prices_from_orders[0]["best_ask"] }}
   - Best ask price of Project: {{ public_information.market_state.best_prices_from_orders[1]["best_ask"] }}
   - Best bid price of No Project: {{ public_information.market_state.best_prices_from_orders[0]["best_bid"] }}
   - Best bid price of Project: {{ public_information.market_state.best_prices_from_orders[1]["best_bid"] }}
   - Project Market median price: {{ public_information.market_state.median_prices[1] }}
   - No Project Market median price: {{ public_information.market_state.median_prices[0] }}
   - Orders:

{{ public_information.market_state.order_book }}

3.1 **Trading decisions in the market**

{% if public_information.market_state.order_book == "No active orders" %}

- No orders have been made yet.

{% else %}

- If price of the best ask in the no Project market < your private signal in the No Project condition, then buy a share in the No Project (Condition 0) market
- If price of the best bid in the no Project market > your private signal in the No Project condition, then sell a share in the No Project (Condition 0) market

- If price of ask in the Project market < your private signal in the Project condition, then buy a share in the Project (Condition 1) market
- If price of bid in the Project market > your private signal in the Project condition, then sell a share in the Project (Condition 1) market

{% endif %}


3.2 **If there are no shares you want to buy or sell in either market**
If there are no shares you want to buy or sell in either market, then post a bid or ask in the market with the largerst difference between your private signal and the best ask or bid price

For posting a bid or ask in the No Project, you can use the following price:
- For a bid, post a price that is equal to 95% of {{ private_information.value_signals[0] }}
- For an ask, post a price that is equal to 105% of {{ private_information.value_signals[0] }}

For posting a bid or ask in the Project, you can use the following price:
- For a bid, post a price that is equal to 95% of  {{ private_information.value_signals[1] }}
- Por an ask, post a price that is equal to 105% of {{ private_information.value_signals[1] }}

4. **Your Decision Options**:
   Provide the output (one of these options) as a JSON object:
   A. Post a new order:
   {
       "gameId": {{ meta.game_id }},
       "type": "post-order",
       "order": {
           "price": <number>, # if now=true, put 0 (will be ignored)
           "quantity": 1,
           "type": <"ask" or "bid">,
           "now": <true or false>,
           "condition": <0 or 1>
       }
   }

   B. Cancel an existing order:
   {
       "gameId": {{ meta.game_id }},
       "type": "cancel-order",
       "order": {
           "id": <order_id>,
           "condition": <0 or 1>
       }
   }

   C. Do nothing:
   {}

Remember:
- You can only trade one share at a time,
- If a median price does not exist yet, it is assumed to be 0
- when deciding between several offers to accept, select the order with the largest difference between your private signal and the best ask or bid price
- when deciding between several offers to make, select the order with the largest difference between your price and the median price in that market
- You have limited time to trade
- Setting "now": true will execute your bid or ask at the best available price
- Orders can be canceled before they are fulfilled
- setting the condition to 0 means that the order is for No Project (Condition 0) development
- setting the condition to 1 means that the order is for Project (Condition 1) development
- you can never have more offers to sell shares (asks) in any market than the number of tax shares in your wallet for that market
- The sum of the prices of the offers to buy shares (bids) in any market can never exceed the balance in your wallet for that market
