Instructions for this phase:

1. **Game Information**:
   - Phase: Phase {{ meta.phase }}
   - Your Role: {{ meta.role }} (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}
   - Your Wallet:
     - Tax Shares conditional on project development: {{ private_information.wallet[0].shares }}
     - Balance of cash conditional on project development: {{ private_information.wallet[0].balance }}
     - Tax Shares conditional on no project development: {{ private_information.wallet[1].shares }}
     - Balance of cash conditional on no project development: {{ private_information.wallet[1].balance }}

2. **Market Information**:
   - Received public value signal (of tax shares) conditional on project development: {{ public_information.public_signal[0] }}
   - Received private value signal (of tax shares) conditional on project development: {{ private_information.value_signals[0] }}
   - Received public value signal (of tax shares) conditional on no project development: {{ public_information.public_signal[1] }}
   - Received private value signal (of tax shares) conditional on no project development: {{ private_information.value_signals[1] }}
   - Current market information and open Orders: 

{{ public_information.market_state.order_book }}

3. **Trading decisions when there are trades available in the market**:

{% if not public_information.market_state.market_prices[0] and not public_information.market_state.market_prices[1] %}

- No trades have been made yet.

{% else %}

- When median price of Project ({{ public_information.market_state.market_prices[1] }}) < median price of No Project ({{ public_information.market_state.market_prices[0] }}) then do nothing
- When median price of Project ({{ public_information.market_state.market_prices[1] }}) > median price of No Project ({{ public_information.market_state.market_prices[0] }}) then sell a share in the Project Market and/or buy a share in the No Project Market until median price of Project < median price of No Project
- After each trade check whether median price of Project < median price of No Project, if so then do nothing

{% endif %}

4. **Your Decision Options**:
   Provide the output (one of these options) as a JSON object:
   {
       "gameId": {{ meta.game_id }},
       "type": "post-order",
       "order": {
           "price": <number>, # if now=true, put 0 (will be ignored)
           "quantity": 1,
           "type": <"ask" or "bid">,
           "now": <true or false>,
           "condition": <0 or 1>
       },
   }

   B. Cancel an existing order:
   {
       "gameId": {{ meta.game_id }},
       "type": "cancel-order",
       "order": {
           "id": <order_id>,
           "condition": <0 or 1>
       },
   }

   C. Do nothing:
   {}

Remember:
- You can only trade one share at a time
- You have limited time to trade
- Setting "now": true will execute at the best available price
- Orders can be canceled before they are fulfilled
- setting the condition to 0 means that the order is for no project development
- setting the condition to 1 means that the order is for project development
- your goal is to make sure the median price of the No Project Market is above the median price of the Project Market

