Instructions for this phase:

1. **Game Information**:
   - Phase: Phase {{ meta.phase }}
   - Your Role: {{ meta.role }} (Player #{{ meta.player_number }})
   - Name: {{ meta.player_name }}
   - Your Wallet:
     - Tax Shares conditional on Project (Condition 1) development: {{ private_information.wallet[0].shares }}
     - Balance of cash conditional on Project (Condition 1) development: {{ private_information.wallet[0].balance }}
     - Tax Shares conditional on No Project (Condition 0) development: {{ private_information.wallet[1].shares }}
     - Balance of cash conditional on No Project (Condition 0) development: {{ private_information.wallet[1].balance }}

2. **Market Information**:
   - Received public value signal (of tax shares) conditional on Project (Condition 1) development: {{ public_information.public_signal[1] }}
   - Received private value signal (of tax shares) conditional on Project (Condition 1) development: {{ private_information.value_signals[1] }}
   - Received public value signal (of tax shares) conditional on No Project (Condition 0) development: {{ public_information.public_signal[0] }}
   - Received private value signal (of tax shares) conditional on No Project (Condition 0) development: {{ private_information.value_signals[0] }}
   - Orders: 

{{ public_information.market_state.order_book }}

3.1 **Trading decisions when there are trades available in the market**

{% if not public_information.market_state.market_prices[0] and not public_information.market_state.market_prices[1] %}

- No trades have been made yet.

{% else %}

- If price of ask ({{ public_information.market_state.market_prices[0] }}) < {{ private_information.value_signals[0] }} then buy a share in the No Project (Condition 0) market
- If price of bid ({{ public_information.market_state.market_prices[0] }}) > {{ private_information.value_signals[0] }} then sell a share in the No Project (Condition 0) market

- If price of ask ({{ public_information.market_state.market_prices[1] }}) < {{ private_information.value_signals[1] }} then buy a share in the Project (Condition 1) market
- If price of bid ({{ public_information.market_state.market_prices[1] }}) > {{ private_information.value_signals[1] }} then sell a share in the Project (Condition 1) market

{% endif %}

3.2 **If no bids or asks outstanding in the No Project (Condition 0) market**
- Post a bid with a price < {{ private_information.value_signals[0] }}
- Post an ask with a price > {{ private_information.value_signals[0] }}

3.3 **If no bids or asks outstanding in the Project (Condition 1) market**:
- Post a bid with a price < {{ private_information.value_signals[1] }} 
- Post an ask with a price > {{ private_information.value_signals[1] }} 

4. **Your Decision Options**:
   Provide the output (one of these options) as a JSON object:
   A. Post a new order:
   {
       "gameId": {{ meta.game_id }},
       "type": "post-order",
       "order": {
           "price": <number>, # if now=true, put 0 (will be ignored)
           "quantity": 1,
           "type": <"ask" or "bid">,
           "now": <true or false>,
           "condition": <0 or 1>
       }
   }

   B. Cancel an existing order:
   {
       "gameId": {{ meta.game_id }},
       "type": "cancel-order",
       "order": {
           "id": <order_id>,
           "condition": <0 or 1>
       }
   }

   C. Do nothing:
   {}

Remember:
- You can only trade one share at a time
- You have limited time to trade
- Setting "now": true will execute at the best available price
- Orders can be canceled before they are fulfilled
- setting the condition to 0 means that the order is for No Project (Condition 0) development
- setting the condition to 1 means that the order is for Project (Condition 1) development
